.list {
    list-style: none;
    margin: 0;
    padding: 0;
  
    &--header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--primary-theme-color);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.25s;
  
      @include desktop {
        position: static;
        background-color: transparent;
        width: auto;
        height: auto;
        opacity: 1;
        pointer-events: auto;
      }
    }
  
    &--header-show {
      opacity: 1;
      pointer-events: auto;
    }
  
    &__link {
      display: flex;
      background-color: var(--secondary-theme-color);
      border-radius: var(--primary-border-radius);
      color: var(--primary-text-color);
      font-weight: 600;
      text-decoration: none;
      padding: 0.25em 1em;
      transition: background-color 0.25s, color 0.25s;
  
      &:hover {
        background-color: var(--primary-highlight-color);
        color: var(--reverse-primary-text-color);
      }
    }
  }